<h1>Products#index</h1>
<% binding.pry unless @cart %>
<%= @cart.each do |product| %>
    <li><%= product %></li>
  <% end %>
<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>
    <%= text_field_tag :product %><br>
    <%= submit_tag "add to cart" %>
<% end %>
